/* General styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Added height for the container */
  background-color: #FFFFFF; /* Changed background color */
}

/* Header styles */
header {
  padding: 15px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Adjust width as needed */
  margin-right: 10px;
}

.logo-text {
  font-family: 'Impact', sans-serif; /* Changed font to Impact */
  font-size: 1.5em; /* Reduced font size */
  color: #1b9480;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-family: 'Montecito', serif;
  display: flex;
  align-items: center;
}

nav a i {
  margin-right: 7px;
  font-size: 1.2em;
}

.search {
  display: flex;
  align-items: center;
}

.search a {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tagline {
  text-align: center;
  font-family: 'Montecito', serif;
  font-size: 0.9em; /* Adjust font size as needed */
  color: #999
/* Existing styles for header and footer (replace with your actual styles) */

.new-section {
  background-color: #FFDADA;
  padding: 50px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  /* Stack elements vertically -->
  align-items: center;
}

.text-content {
  flex: 1 0 auto;  /* Allow text content to grow but not shrink -->
  padding: 0 20px;
  display: flex;
  flex-direction: column;  /* Stack text elements vertically -->
  justify-content: center;  /* Center text content vertically within the image height -->
}

.text-content h1 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
}

.text-content p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

img {
  width: 100%;  /* Make image full width of container -->
  object-fit: cover;
  margin-top: 30px;  /* Add 30px space between text and image -->
}

hr {
  display: none;  /* Hide the horizontal divider line -->
}
