/* General styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* Added height for the container */
  background-color: #FFFFFF; /* Changed background color */
}

/* Header styles */
header {
  padding: 15px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Adjust width as needed */
  margin-right: 10px;
}

.logo-text {
  font-family: 'Impact', sans-serif; /* Changed font to Impact */
  font-size: 1.5em; /* Reduced font size */
  color: #1b9480;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-family: 'Montecito', serif;
  display: flex;
  align-items: center;
}

nav a i {
  margin-right: 7px;
  font-size: 1.2em;
}

.search {
  display: flex;
  align-items: center;
}

.search a {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tagline {
  text-align: center;
  font-family: 'Montecito', serif;
  font-size: 0.9em; /* Adjust font size as needed */
  color: #999