/* General styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */

header {
  padding: 15px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px; /* Adjust width as needed */
  margin-right: 10px;
}

.logo-text {
  font-family: 'Impact', sans-serif;  /* Changed font to Impact */
  font-size: 1.5em;  /* Reduced font size */
  color: #1b9480;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-family: 'Montecito', serif;
  display: flex;
  align-items: center;
}

nav a i {
  margin-right: 7px;
  font-size: 1.2em;
}

/* Search bar styles */

.search {
  display: flex;
  align-items: center;
}

.search a {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Tagline styles */

.tagline {
  text-align: center;
  font-family: 'Montecito', serif;
  font-size: 0.9em;  /* Adjust font size as needed */
  color: #999;
}

/* Container styles */

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  /* Stack elements vertically for smaller screens -->
  align-items: center;
}

/* New Section styles (assuming this is for the section after search bar) */

.new-section {
  background-color: #FFDADA;
  padding: 50px 0;
}

.new-section .container {
  flex-direction: column;
  align-items: center;
}

.new-section .text-content {
  flex: 1 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-section .text-content h1 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 15px;
  text-align: center;
}

.new-section .text-content p {
  font-family: Arial, sans-serif;
  font-size: 16px;  /* Adjust for better readability on smaller screens -->
  line-height: 1.5;
  text-align: center;
}

.new-section img {
  width: 100%;
  object-fit: cover;
  margin-top: 30px;
}

/* Hide the horizontal divider line */
hr {
  display: none;
}

/* Responsive Design for Phone Screens */

@media screen and (max-width: 800px) {
  /* Adjustments for larger phone screens (optional) */
  .container {
    max-width: 80%;  /* Adjust as needed */
  }
  .new-section .text-content p {
    font-size: 14px;  /* Adjust font size for readability */
  }
}

@media screen and (max-width: 600px) {
  /* Adjustments for smaller phone screens */
  .container {
    max-width: 40%; /* Adjust as needed */
  }
  .new-section .text-content h1 {
    font-size: 1.5em;
  }
  .new-section .text-content p {
    font-size: 12px;  /* Adjust font size for readability */
  }
  .new-

